<form method="post" action="{{ path('bloc_delete', {'id': bloc.id}) }}" onsubmit="return confirm('Êtes-vous sûr ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bloc.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
